* text=auto eol=lf
*.cj text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.hap binary
*.so binary
*.sqlite binary
